@model string
<h2>Erreur</h2>

Une erreur est survenue entre notre partenaire Paypal et notre site:
<br/>
@Model
<br/>
Merci de bien vouloir signaler cette erreur au webmaster, si elle se reproduisait.