@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Github project original page: https://github.com/thebigbang/Paypal_MVC_Sample
    <br/>
    Copyright thebigbang // Meï-Garino Jérémy (<label>jeremy@@c-g-m.org</label>)
</p>
@Html.ActionLink("Shopping Cart.","ShoppingCart")